body{


	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;

	text-align: center;
	
}

li{
	list-style: none;
	line-height: 2em;
	text-align: left;
}


.header {
	background-color: #44f4f4;
	border-bottom: #ccc 3px solid;
	padding: 20px;
}

.container{
	width:50%;
	margin: 20px auto;

}

/*
div{
	margin: 5px;
	padding:3px;
	justify-content: center;
}

button{
	border-radius: 10px;
}
*/

